{% extends 'base.html' %}

{% block title %} Enter A Passcode {% endblock %}

{% block bodycontent %}
<form action="/authenticate" method="post">
    <input type="text" name="username" placeholder="Enter a Pen Name" required>
    <input type="checkbox" name="newuser" value="True"> Please check if you are a new user <br>
    Please use a Pen Name that does not already exist, unless you are returning.
    <div>
        Existing Pen Names:
        Display all usernames currently in the system for this document
    </div>
    <input type="text" name="passcode" placeholder="Enter Passcode" required>
    <input type="submit" value="Submit">
</form>
{% endblock %}