{% extends 'base.html' %}

{% block title %}Viewing: {{file.name}}{% endblock %}

{% block bodycontent %}
<div id="search">
    <form id="search_bar" action="/search_view">
        <input id="search_bar" type="text" name="search_phrase" placeholder="Search">
        <input type="text" name="doc_id" value="{{file.document_id}}" hidden>
        <input type="submit" hidden>
    </form>
</div>

<div class="container">
    <p id="file">
{{text}}
    </p>

    <div class="match_container" id="group_id">
        {% if matches %}
            {% for match in matches %}
            <div class="matches" id="match_id">
                <label id="match_result"> {{match}} </label>
<textarea row="10" col="50" id="note_id">Note: </textarea>
            </div>
            {% endfor %}
            <form id="save" action="/save_grouped_matches">
                <input type="submit" value="Save">
            </form>
        {% endif %}
        
        {% if not matches %}
        No match results found.
        {% endif %}

    </div>

</div>


{% endblock %}