{% extends 'base.html' %}

{% block title %}Viewing: {{file.name}}{% endblock %}

{% block bodycontent %}

<div class="background">
    <div class="over-background">

        {% if passcode %}
        <header>
            <a href="/owner_home"> Homepage </a>
        </header>
        Your document's unique URL is: /file_view?did={{file.document_id}}&?name={{file.name}} <br>
        The passcode for youself and others to view your document is: {{passcode}}
        {% else %}
        <header>
                <a href="/"> Homepage </a>
        </header>
        You are viewing the uploaded file: {{file.name}}
        {% endif %}

        <div id="search">
            <form id="search_bar" action="/search_view">
                <input id="search_bar" type="text" name="search_phrase" placeholder="Search">
                <input type="text" name="doc_id" value="{{file.document_id}}" hidden>
                <input id="hiddenSearchBtn" type="submit" hidden>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="contain-file">
            <p id="file">
{{text}}
            </p>
        </div>

        <div class="match_container">
            {% if matches_list %}
                <button class="save_matches_button" data-search-id="{{search_id}}" value="Save">Save</button>
                {% for match in matches_list %}
                <div class="matches" data-start="{{match['start']}}" data-end="{{match['end']}}"> <span class="close_match">x</span> 
                    <label class="match_result"> {{match['match']}} </label>
                    <textarea class="notes" row="10" col="50">Note: </textarea>
                </div>
                {% endfor %}
                <button id="save_matches_button" data-search-id="{{search_id}}" value="Save">Save</button>
            {% endif %}
            
            {% if not matches_list %}
            No match results found.
            {% endif %}
        </div>

    </div>
</div>
<script>
// todo highlight
(function highlightMatches() {
    const matches = document.querySelectorAll('.matches');
    let file = document.querySelector('#file');
    let tempFile = String(file.innerHTML);
    console.log('initial file', file);
    console.log('initial tempFile', tempFile);
    if (matches !== null) {
        matchOffsets = [];
        for (let i = 0; i < matches.length; i++) {
            matchForHighlight = [];
            matchForHighlight.push(matches[i].getAttribute('data-start'));
            matchForHighlight.push(matches[i].getAttribute('data-end'));
            matchOffsets.push(matchForHighlight);
            console.log('this is ea maatch for highlight', matchForHighlight);
        }
        for (let i = (matchOffsets.length - 1); i > -1; i -= 1) {
            console.log('matchoffsets', matchOffsets[i]);
            [start, end] = matchOffsets[i];

            start = JSON.parse(start);
            let phraseS = start[0];
            let contextS = start[1];

            end = JSON.parse(end);
            let phraseE = end[0];
            let contextE = end[1];

            let words = tempFile.slice(phraseS, phraseE + 1);
            let formattedWords = `<span style="background-color: #cabdda">${words}</span>`;

            // We need access to splice here, so we're converting the file into an array to
            // do so. This will likely need some attention in the future.
            tempFile = tempFile.split('');
            tempFile.splice(phraseS, words.length, formattedWords);
            tempFile = tempFile.join('');
        };
        console.log('file after for loop', file);
        console.log('tempFile after fo loop', tempFile);
        file.innerHTML = tempFile;
    }
})();


const closeMatch  = document.querySelectorAll('.close_match');

// // closes match on click x
for (let i = 0; i < closeMatch.length; i++) {
    closeMatch[i].addEventListener('click', function() {
        this.parentElement.style.display = 'none';
        this.parentElement.removeAttribute('class');
    });
}

    // Alert group notes were saved

    // select save button
    const groupSaveBtn = document.getElementById('save_matches_button');
    
    function saveMatchData() {

        console.log('This is saveMatchData!')

        const matchData = {};

        // select matches that have not been x'd out 
        // can now index into this array of objects
        const matches = document.querySelectorAll('.matches');

        // get search_id and put into dictionary
        matchData['search_id'] = groupSaveBtn.getAttribute('data-search-id');

        matchData['matches'] = [];

        for (let i = 0; i < matches.length; i++) {

            let notes = null;

            // get match note value and determine if user has written notes
            if (matches[i].children[2].value > matches[i].children[2].defaultValue) {
                console.log('within the if statement!');
                notes = matches[i].children[2].value;
                console.log(notes);
            }

            console.log('this ish notess ', notes);

            matchData['matches'].push({
                // get content of match notes
                'match_content': matches[i].innerText,

                // get start_offset
                'start_offset': matches[i].getAttribute('data-start'),
            
                // get end_offset of matches
                'end_offset': matches[i].getAttribute('data-end'),

                // set notes value
                'notes': notes,
            });
        }

        console.log('matchData ahhh: ', matchData);

        // post method to /save_grouped_matches with Fetch
        fetch('/save_grouped_matches', {
            method: 'POST',
            body: JSON.stringify(matchData),
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(response => {
            flash = document.querySelector('#flash');
            flash.innerText = "Your matches and notes have been saved."
            window.setTimeout(() => {
                flash.innerText = "";
            }, 2000);
        })
        .catch(error => console.error('Error:', error));
    }

    // add onclick listener
    groupSaveBtn.addEventListener('click', saveMatchData);

</script>


{% endblock %}

<!-- Hardcoded these for now
data-search-id="{{search_id}}
data-start="{{match_start}}
data-end="{{match_end}} -->