{% extends 'base.html' %}

{% block title %}Viewing: {{file.name}}{% endblock %}

{% block bodycontent %}
<div id="search">
    <form id="search_bar" action="/search_view">
        <input id="search_bar" type="text" name="search_phrase" placeholder="Search">
        <input type="text" name="doc_id" value="{{file.document_id}}" hidden>
        <input type="submit" hidden>
    </form>
</div>

<script>
    // Alert group notes were saved

    // grab save button
    const groupSaveBtn = document.querySelector('#save_matches_button');
    
    function saveMatchData() {

        console.log('This is saveMatchData!')

        // collect matches that have not been x'd out 

        // group_id
        // search_id
    // post method to /save_grouped_matches with Fetch

        var matchData = {};

        // collect start_offset, end_offset of matches
        const matches = document.querySelectorAll('.matches');
        // can now index into this array of objects
        // const foo = document.getElementById('foo');
        for (let i = 0; i < matches.length; i++) {
        console.log("Attr names: ", matches[i].getAttributeNames(), "Attributes: ", matches[i].getAttribute("data-start"));
            // get match note value and determine if user has written notes
            if matches[i].childNodes[3].value > matches[i].childNodes[3].defaultValue {
                "Notes" = matches[i].childNodes[3].value;
            }
        }

        // collect content of match notes

        for let match in matchOffsets {
            // collect match ouptut / the string
            const matchContent = document.querySelector('[name="match_result"]');
        for let note in matchNote {
            // collect match_id
            document.querySelector('[data-id]');
            }  
        }

        fetch('/save_grouped_matches', {
            method: 'POST',
            body: JSON.stringify(matchData)
        })
        .then(response => response.json())
        .then(response => console.log('Success:', JSON.stringify(response)))
        .catch(error => console.error('Error:', error));
    }

    // add onclick listener
    groupSaveBtn.addEventListener('click', saveMatchData);


</script>
<div class="container">
    <p id="file">
{{text}}
    </p>

    <div class="match_container" data-id="{{search_id}}">
        {% if matches %}
            {% for match in matches %}
            <div class="matches" data-start="{{match_start}}match_start" data-end="{{match_end}}">
                <label name="match_result"> {{match}} </label>
                <textarea class="notes" row="10" col="50" data-id="{{match_id}}">Note: </textarea>
            </div>
            {% endfor %}
            <button id="save_matches_button" value="Save">
        {% endif %}
        
        {% if not matches %}
        No match results found.
        {% endif %}

    </div>

</div>


{% endblock %}