{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block bodycontent %}
    <h1> Homepage </h1>
    <p> Checking to see if I can query and have the correct output </p>
    <h3> {{file.name}} </h3>

    <script>
    function createDiv(searchMatchesList) {
        let insertedGroupDiv = document.createElement('div');
        
        let noteDiv = document.createElement('div');
        let matchDiv = document.createElement('div');
        let searchPhrase = searchMatchesList[0];
        let dict = searchMatchesList[1];
        let matchContent = dict['match_content']
        let note = dict['note']

        console.log(searchMatchesList);

        let insertedSearchPhrase = document.createTextNode(searchPhrase);
        let insertedMatchContent = document.createTextNode(matchContent);
        let insertedNoteContent = document.createTextNode(note);

        matchDiv.innerHTML = matchContent;

        insertedGroupDiv.append(searchPhrase);
        insertedGroupDiv.append(matchDiv);
        // insertedGroupDiv.appendChild(insertedMatchContent);
        insertedGroupDiv.appendChild(insertedNoteContent);

        // groupDiv.innerHTML = searchPhrase;
        // matchContentDiv.innerText = matchContent;
        // noteDiv.innerText = note;
        // groupDiv.appendChild(matchContentDiv);
        // groupDiv.appendChild(noteDiv);

        return insertedGroupDiv;
    }
    function getGroupDict() {
      let groupDiv = document.querySelector('.groups');

      fetch('/user_groups')
      .then(response => response.json())
      .then(data => {
      // Here's a list of repos!
        data.forEach(searchMatchesList => {
            let insertedGroupDiv = createDiv(searchMatchesList);
            groupDiv.appendChild(insertedGroupDiv);
        });
      });
    }
    
    window.onload = getGroupDict

    </script>
    <p> Actually, these should be searches for now <br>
    <div class="groups"></div>
   
    </p>

    <p>
        {{file}}
    </p>
{% endblock %}

<!--taking this out for now
    <p id="file">
{{text}}
    </p> -->