{% extends 'base.html' %}

{% block title %}Doc Owner Homepage{% endblock %}

{% block bodycontent %}
<header>
    <center class="page-header">Document Owner Homepage </center>
    <navbar class="over-background">
        <a href="/file_view">Back to Document</a>
    </navbar>
</header>

<div class="around-cards">
{% for file in files %}

    <div class="card" data-id="{{file[0].document_id}}">
        <!-- <div class="card_container"> -->
        <div class="over-card">
            <label class="card-label">
                {{file[0].name}}
                By {{file[0].doc_owner}}
            </label>
            <img src="static/img/daan-stevens-hKp6UjK3yWg-unsplash.jpg" class="img-over-card">
        </div>
        <!-- stuff over img on hover should be nested one more  -->
        <div class="under-card-img">
            <div class="file">
{{file[1]}}
            </div>
        </div>
        <!-- </div> -->
    </div>

{% endfor %}
</div>
<script>
    const card = document.querySelectorAll('.card');
    console.log('card: ', card);

    for(let i = 0; i < card.length; i++) {
        card[i].addEventListener('click', function(evt) {
            document_id = this.getAttribute('data-id');
            console.log(evt.target, 'element')
            console.log('document_id', document_id);
            window.location.replace('/stats_view?did=' + document_id);
        })
    };
</script>
{% endblock %}