{% extends 'base.html' %}

{% block title %}Stats for: {{file.name}}{% endblock %}

{% block bodycontent %}
<header>
    <center class="page-header">Viewing Statistics For File: {{file.name}}</center>
    <navbar class="over-background">
        <a href="/owner_home">Back to Documents</a>
    </navbar>
</header>

<div class="stat_card">
{% for search in search_tuples %}
    <div class="stat" data-doc="{{file.document_id}}">
        <h3>{{search[0]}}</h3>
        <p>Count: {{search[1]}}</p>
        <div class="stat_groups">
        </div>
    </div>
{% endfor %}
</div>
<script type="text/javascript">
    function createDiv(tuple) {
        // console.log('clickSearch', clickSearch[i]);
        // Is there a way to pass in the click search node's information? there must be

        let insertedGroupDiv = document.createElement('div');
        let searchPhraseDiv = document.createElement('h2');

        insertedGroupDiv.setAttribute('class', 'group');
        searchPhraseDiv.setAttribute('class', 'perSearch');

        // TODO: make this search_id dynamic
    
        let searchPhrase = tuple[0];
        let matchesList = tuple[1];

        // console.log(matchesList);

        searchPhraseDiv.innerText = searchPhrase;
        insertedGroupDiv.append(searchPhraseDiv);

        // console.log(typeof matchesList);
        // console.log(matchesList.length);

        matchesList.forEach((element) => {
            let matchDiv = document.createElement('div');
            let match = element[0];
            matchDiv.setAttribute('class', 'match_result matches');
            matchDiv.setAttribute('data-match-id', match[1]);
            console.log(match, 'match content!#$');
            let note = element[1];
            let noteTextarea = null;

            matchDiv.innerText = match[0];
            insertedGroupDiv.append(matchDiv);

            if (note !== null && typeof note !== 'undefined') {
                noteTextarea = document.createElement('textarea');
                noteTextarea.setAttribute('class', 'note');
                noteTextarea.setAttribute('data-note-id', note[1]);
                noteTextarea.innerText = note[0];
                insertedGroupDiv.append(noteTextarea);
            }
        });

        return insertedGroupDiv;
    }

    //  -------------------------------- IAM HERE --------------------------
    // trying to pass in the correct item that has been clicked so that I can
    // get info from it's parent's other child nodes I just want to be able to
    // tell what the search is
    function clickedSearchFN(searchPhraseNode, did) {
        return [searchPhraseNode.innerText, did];
    }

    function getGroupDict(evt) {
        // maybe i can do if the event bubbles, get it's parent node, else get node?
        
        const statGroups = document.querySelectorAll('.stat_groups');
            statGroups.forEach((element) => {
                element.innerHTML = "";
        });

        const searchClicked = evt.target;
        let clickedSearch = null;
        let groupDiv = null;
        // will change to .closest when I have time
        // console.log(searchClicked.closest('div'));

        if (searchClicked.children.length === 3) {
            let did = searchClicked.getAttribute('data-doc');
            groupDiv = searchClicked.children[2];
            clickedSearch = clickedSearchFN(searchClicked.children[0], did);
        }
        else {
            let parentDiv = searchClicked.parentNode;
            let did = parentDiv.getAttribute('data-doc');
            groupDiv = parentDiv.children[2];
            clickedSearch = clickedSearchFN(parentDiv.children[0], did);
        }

        fetch('/search_data', {
            method: 'POST',
            body: JSON.stringify(clickedSearch),
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(response => response.json())
        .then(data => {
            data.forEach((tuple, index) => {
                let matchResult = document.querySelectorAll('.match_result');

                // if (matchResult.length !== 0) {
                //     console.log(groupDiv);
                //     let toRemove = groupDiv.childNodes;
                //     console.log(groupDiv.children);
                //     console.log('to remove', toRemove);
            
                //     while (toRemove.length > 0) {
                //         toRemove[0].remove('div');
                //     }
                // }

                let insertedGroupDiv = createDiv(tuple);
                groupDiv.appendChild(insertedGroupDiv);
            });
        })
        .catch(error => console.error('Error:', error));
    }

    const clickSearch = document.querySelectorAll('.stat');

    for (let i = 0; i < clickSearch.length; i++) {
        clickSearch[i].addEventListener('click', getGroupDict);
    }
</script>

{% endblock %}