#file {
    white-space: pre-wrap;
    margin: 10px;
    width: 100%;
}

#search {
    margin: 20px;
    width: 100%vw;
    border-style: solid;
}

#search_bar {
    text-align: center;
    width: 100%;
}

#match_result {
    background-color: #cabdda;
    text-align: center;
}

#save_matches_button {
    margin-top: 10px;
}

.container {
    display: flex;
    border-style: solid;
}

.match_container {
    display: flex;
    padding: 20px;
    border-left: solid;
    flex-direction: column;
    width: 30%;
}

.matches {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-bottom: none;
    justify-content: flex-start;
}

.matches:last-of-type {
    border-bottom: solid;
}

.match_labels {
    display: flex;
    flex-direction: column;
}

.close_match {
    cursor: pointer;
    top: 50%;
    right: 0%;
    padding-right: 5%;
    /* transform: translate(0%, -50%); */
    display: flex;
    justify-content: flex-end;
}

.close_match:hover {background: #bbb;}